  <div class="card h-100">
    <form>
    <div class="card-body">
      <h5 class="card-title">Game Results</h5>
      <h6 class="card-subtitle">Game tour 
          <select name="currentGameNumber" [ngModel]="currentGameNumber" (ngModelChange)="updateCurrentGameNumber($event)">
              <option *ngFor="let gameNumber of games" [ngValue]="gameNumber">
                  Game #{{gameNumber}}
              </option>
          </select>
      </h6>
      <h5>Winners</h5>
      <div class="container">
      <div class="row" *ngFor="let winner of winners ; index as i">
        <div class="col text-left">{{winner}}</div>
        <div class="col text-right">{{payouts[i]}} SLT</div>
      </div>
    </div>
    </div>
  </form>
  </div>
