<div>
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Balance</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{account}}</h6>
        
        <form #amform="ngForm">
          <div class="container">
            <div class="row">
              <div class="col-3">
                <div>{{eth.toString(10) | ethval:'ether':4}} ETH</div>
                <div>{{slt8}} SLT8</div>
              </div>
              <div class="col"><button type="button" class="btn btn-success" (click)="onBuyTokens8()">Buy</button></div>
              <div class="col"><input type="number" class=""  [(ngModel)]="tokamnt" name="tokamnt"></div>
              <div class="col"><button type="button" class="btn btn-warning" (click)="onSellTokens8()">Sell</button></div> 
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">{{buyPrice.times(tokamnt).toString(10) | ethval:'ether':4}} ETH</div>
              <div class="col"></div>
              <div class="col">{{sellPrice.times(tokamnt).toString(10) | ethval:'ether':4}} ETH</div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>